.typing-challenge-cont {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.details-cont {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.test-typewriter {
  display: flex;
  flex-grow: 1;
}
